[submodule "it2/gist/eksempler/foerste_html_dokument"]
	path = it2/gist/eksempler/foerste_html_dokument
	url = git@gist.github.com:e00efa0e50bfe51e0882.git
[submodule "it2/gist/eksempler/test_input"]
	path = it2/gist/eksempler/test_input
	url = git@gist.github.com:780de44ed09e1b03740e.git
[submodule "it2/gist/eksempler/test_tagger"]
	path = it2/gist/eksempler/test_tagger
	url = git@gist.github.com:f67da27fe39b16a9e745.git
[submodule "it2/gist/eksempler/leke_med_div"]
	path = it2/gist/eksempler/leke_med_div
	url = git@gist.github.com:38906681338edfb74fb2.git
